services:
  duo-gym:
    image: ghcr.io/kilianmyspro/gymfamily/duo-gym:latest
    container_name: duo-gym
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - backend
    environment:
      - NODE_ENV=production

  backend:
    image: ghcr.io/kilianmyspro/gymfamily/backend:latest
    container_name: duo-gym-backend
    restart: always
    ports:
      - "3002:3001"
    volumes:
      - ./backend/prisma:/app/prisma
    environment:
      - DATABASE_URL=file:./dev.db
      - JWT_SECRET=duogym-secret-prod
      - PORT=3001
      - NODE_ENV=production
    command: sh -c "npx prisma db push && npm start"
